
            <!-- Section Title -->
            <section class="section-title img-contact">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>Contact Us</h1>
                </div>
            </section>
            <!-- End Section Title -->
            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="crumbs">
                    <div class="container">
                        <ul>
                            <li><a ui-sref="home">Home</a></li>
                            <li>/</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>

                <div class="semiboxshadow text-center">
                    <img src="img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                <div>
                    <!-- Google Map -->
                    <div id="map" my-map="{{locations}}"></div>
                    <!-- End Google Map -->
                </div>


                <!-- Content Central -->
                <section class="container">
                    <div class="row padding-top">
                        <!-- Left Content -->
                        <div class="col-md-4">
                            <aside class="panel-box">
                                <div class="titles">
                                    <h4>The Office</h4>
                                </div>
                                <address>
                                    <strong>Idaho Contact Football League</strong><br>
                                    <i class="fa fa-map-marker"></i><strong>Address: </strong> 12400 West McMillan Road<br>
                                    <i class="fa fa-plane"></i><strong>City: </strong> Boise, ID 83713<br>
                                    <i class="fa fa-phone"></i> <abbr title="Phone">Phone:</abbr> (208) 724-5809
                                </address>
                            </aside>

                            <aside class="panel-box">
                                <div class="titles">
                                    <h4>Emails Contact</h4>
                                </div>
                                <address>
                                    <i class="fa fa-envelope"></i><strong>Email:</strong><a href="mailto:#"> icflboise@gmail.com</a><br>
                                    <i class="fa fa-envelope"></i><strong>Web Support:</strong><a href="mailto:#"> aholtry@gmail.com</a>
                                </address>
                            </aside>
                        </div>
                        <!-- End Left Content -->
                        <!-- Right Content -->
                        <div class="col-md-8">
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Contact Form</h4>
                                </div>
                                <!-- Form Contact -->
                                <form class="form-theme" name="contactForm">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6" ng-class="{ 'has-error': contactForm.name.$invalid }">
                                                <label>Your name *</label>
                                                <input type="text" required="required" value="" maxlength="100" class="form-control" name="name" id="name" ng-model="emailName">
                                            </div>
                                            <div class="col-md-6" ng-class="{ 'has-error': contactForm.email.$invalid }">
                                                <label>Your email address *</label>
                                                <input type="email" required="required" value="" maxlength="100" class="form-control" name="email" id="email" ng-model="emailFrom">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12" ng-class="{ 'has-error': contactForm.message.$invalid }">
                                                <label>Comment *</label>
                                                <textarea maxlength="5000" rows="10" class="form-control" name="message" style="height: 138px;" required="required" ng-model="emailText"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="button" value="Send Message" class="btn btn-lg btn-primary" ng-disabled="contactForm.$invalid" ng-click="sendTheMail()">
                                        </div>
                                    </div>
                                </form>
                                <!-- End Form Contact -->
                                <div class="result"></div>
                            </div>
                        </div>
                        <!-- End Right Content -->
                    </div>
                </section>
                <!-- End Content Central -->
                <!-- Prove It Banner-->
                <prove-it></prove-it>
            </section>
            <!-- End Section Area - Content Central -->
            
        <script type="text/javascript" src="js/main.js"></script>
       