
    <!--<div id="fb-root"></div>-->
    <div>
        <!-- Slide -->
        <section class="camera_wrap camera_white_skin" id="slide">
            <!-- Item Slide - Caption -->
            <!--<div data-src="img/slide/slides/icfltickets.jpg">
                <div class="style-caption fadeFromTop">
                    <div class="overlay-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1 class="animated fadeInRight" ng-model="title">
                                    ICFL Admission Prices
                                </h1>
                                <p class="animated fadeInRight delay1">Click below to find out more about ticket prices and venue rules.</p>
                                <div class="more animated fadeInRight delay2">
                                    <a ui-sref="admissions" class="btn btn-primary" name="subscribe">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- End Item Slide - Caption  -->
            <!-- Item Slide - Caption -->
            <!--<div data-src="img/slide/slides/GolfScramble.jpg">
                <div class="style-caption fadeFromTop">
                    <div class="overlay-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1 class="animated fadeInRight" ng-model="title">
                                    ICFL Golf Scramble
                                </h1>
                                <p class="animated fadeInRight delay1">Click below to participate in the scramble on Sept. 19th.</p>
                                <div class="more animated fadeInRight delay2">
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3VEPH3P7ZEPSN" class="btn btn-primary" name="subscribe" target="_blank">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- End Item Slide - Caption  -->
            <!-- Item Slide - Caption -->
            <!--<div data-src="img/slide/slides/allstar2015.jpg">
                <div class="style-caption fadeFromTop">
                    <div class="overlay-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1 class="animated fadeInRight" ng-model="title">
                                    ICFL / RMFL All-Star Game
                                </h1>
                                <p class="animated fadeInRight delay1">Click below to listen to the ICFL / RMFL All-Star game live!</p>
                                <div class="more animated fadeInRight delay2">
                                    <a href="https://www.youtube.com/watch?v=gml_XrBa-yo" class="btn btn-primary" name="subscribe">Listen Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- End Item Slide - Caption  -->
            <!-- Item Slide - Caption -->
            <div data-src="img/slide/slides/ICFLGrowing.jpg">
                <div class="style-caption fadeFromTop">
                    <div class="overlay-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1 class="animated fadeInRight" ng-model="title">
                                    The ICFL is Growing!
                                </h1>
                                <p class="animated fadeInRight delay1">
                                    We're thrilled to announce our continued expansion in southern Idaho with the addition of these teams.<br />
                                    We continue to strive to be the preminent semipro league in the west. 18 years strong...  THE ICFL LIVES HERE
                                </p>
                                <div class="more animated fadeInRight delay2">
                                    <a ui-sref="teams" class="btn btn-primary" name="subscribe">See the Teams</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Slide - Caption  -->
            <!-- Item Slide - Caption -->
            <div data-src="img/slide/slides/Tribe2015.jpg">
                <div class="style-caption fadeFromTop">
                    <div class="overlay-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1 class="animated fadeInRight">
                                    ICFL 2015 CHAMPS
                                </h1>
                                <p class="animated fadeInRight delay1">Congratulations to the Two-Time ICFL Champs, The Tribe!</p>
                                <div class="more animated fadeInRight delay2">
                                    <a ui-sref="champions" class="btn btn-primary" name="subscribe">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Slide - Caption  -->
            <!-- Item Slide - Caption -->
            <div data-src="img/slide/slides/proveitold.jpg">
                <div class="style-caption fadeFromTop">
                    <div class="overlay-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1 class="animated fadeInRight">
                                    The ICFL is looking for you
                                </h1>
                                <p class="animated fadeInRight delay1">Think you have what it takes to play at the next level.  The ICFL is looking for athletes like you.</p>
                                <div class="more animated fadeInRight delay2">
                                    <a ui-sref="register" class="btn btn-primary" name="subscribe">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Slide - Caption  -->
        </section>
        <!-- End Slide -->
        <!-- Section Area - Content Central -->
        <section class="content-info">
            <div class="semiboxshadow text-center">
                <img src="img/img-theme/shp.png" class="img-responsive" alt="">
            </div>
            <!-- Dark Home -->
            <div class="bg-dark dark-home">
                <div class="row">
                    <!-- Left Content - Tabs and Carousel -->
                    <div class="col-md-9">
                        <!-- Nav Tabs -->
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#feature-news" data-toggle="tab">FEATURED EVENTS</a></li>
                            <li><a href="#players-staff" data-toggle="tab">HALL OF FAME</a></li>
                            <li><a href="#club-news" data-toggle="tab">LEAGUE TEAMS</a></li>
                        </ul>
                        <!-- End Nav Tabs -->
                        <!-- Content Tabs -->
                        <div class="tab-content">
                            <!-- Tab One - Feature Events -->
                            <div class="tab-pane active" id="feature-news">
                                <!-- blog post-->
                                <ul id="events-carousel" class="events-carousel padding-top">
                                    <!-- Item blog post -->
                                    <li ng-repeat="event in events" ng-show="events" my-scripts>
                                        <div class="header-post">
                                            <div class="date">
                                                <span>{{event.date}}</span>
                                                {{event.year}}
                                            </div>
                                            <a href=""><img src="{{event.image}}" alt=""></a>
                                        </div>
                                        <div class="info-post">
                                            <h4><a ui-sref="schedule">{{event.title}}</a></h4>
                                            <p>{{event.descr}}</p>
                                        </div>
                                    </li>
                                    <!-- End Item blog post -->
                                </ul>
                                <!-- End blog post-->
                            </div>
                            <!-- Tab One - End Feature Events -->
                            <!-- Tab Two - Hall of Fame -->
                            <div class="tab-pane" id="players-staff">
                                <h3>Hall of Fame</h3>
                                <!-- Item Players-->
                                <ul id="players-carousel" class="players">
                                    <!-- Item Player -->
                                    <li class="item-player" ng-repeat="player in hallOfFame">
                                        <img src="{{player.image}}" alt="" class="img-responsive">
                                        <div class="info-player">
                                            <h4><a ui-sref="hall">{{player.name}}</a></h4>
                                            <h5><span>{{player.team}}</span></h5>
                                            <div class="overlay-player">
                                                <p>
                                                    {{player.year}}<br />
                                                    {{player.pos}}<br />
                                                    Number: {{player.number}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Player post -->
                                </ul>
                                <!-- End Item Players-->
                            </div>
                            <!-- Tab Two -  Hall of Fame -->
                            <!-- Tab Theree - League Teams -->
                            <div class="tab-pane" id="club-news">
                                <h3>League Teams</h3>
                                <!-- Teams Carousel-->
                                <ul id="clubs-carousel" class="clubs-teams">
                                    <!-- Item carousel team -->
                                    <li class="row" ng-repeat="div in slideTeams">
                                        <!-- Item team -->
                                        <div class="col-sx-12 col-sm-6 col-md-6" ng-repeat="team in div.teams">
                                            <div class="item-clubs">
                                                <div class="img-clubs">
                                                    <img src="{{team.image}}" alt="" class="img-responsive" ng-click="teamSelect(team.id)">
                                                </div>
                                                <div class="info-clubs">
                                                    <h4><a href="" ng-click="teamSelect(team.id)">{{team.name}}</a></h4>
                                                    <p>{{team.descr}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Item teams -->
                                    </li>
                                    <!-- End Item carousel team -->
                                </ul>
                                <!-- End Clubs Carousel-->
                            </div>
                            <!-- Tab Theree - Leauge Teams -->
                        </div>
                        <!-- Content Tabs -->
                    </div>
                    <!-- Left Content - Tabs and Carousel -->
                    <!-- Right Content - Content Counter -->
                    <div class="col-md-3">
                        <aside>
                            <div class="title-color text-center">
                                <h4>Playoffs</h4>
                            </div>

                            <div class="content-counter content-counter-home">
                                <p class="text-center">
                                    <i class="fa fa-clock-o"></i>
                                    Countdown Till Kickoff
                                </p>
                                <div id="event-two" class="counter"></div>
                                <ul class="post-options">
                                    <li><i class="fa fa-calendar"></i>June 04, 2016</li>
                                    <li><i class="fa fa-clock-o"></i>Kick-off, 9:30 AM</li>
                                </ul>
                                <p>The best of the best face off in a tournament to be crowned champions of the ICFL</p>
                                <a class="btn btn-primary" ui-sref="schedule">
                                    VIEW EVENT PAGE
                                    <i class="fa fa-trophy"></i>
                                </a>
                            </div>
                        </aside>
                        <!--<aside>
                            <div class="title-color text-center">
                                <h4>Season Opener</h4>
                            </div>

                            <div class="content-counter content-counter-home">
                                <p class="text-center">
                                    <i class="fa fa-clock-o"></i>
                                    Countdown Till Kickoff
                                </p>
                                <div id="event-one" class="counter"></div>
                                <ul class="post-options">
                                    <li><i class="fa fa-calendar"></i>April 4, 2016</li>
                                    <li><i class="fa fa-clock-o"></i>Kick-off, 9:30 AM</li>
                                </ul>
                                <p>The moment we've all been waiting for.  Time to start this season off right.</p>
                                <a class="btn btn-primary" ui-sref="schedule">
                                    VIEW EVENT PAGE
                                    <i class="fa fa-trophy"></i>
                                </a>
                            </div>
                        </aside>-->
                        <!-- Content Counter -->
                    </div>
                    <!-- End Right Content - Content Counter -->
                </div>
            </div>
            <!-- Dark Home -->
            <!-- Content Central -->
            <div class="container padding-top">
                <div class="row">
                    <!-- content Column Left -->
                    <div class="col-xs-12 col-md-6 col-lg-7">
                        <!-- Standings -->
                        <div class="panel-box">
                            <div class="titles">
                                <h4>Standings</h4>
                            </div>
                            <div class="row">

                                <!--<table class="table table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Team</a></th>
                                            <th><a href="" ng-click="predicate = '-win'; reverse=!reverse">Win</a></th>
                                            <th><a href="" ng-click="predicate = '-loss'; reverse=!reverse">Loss</a></th>
                                            <th><a href="" ng-click="predicate = '-pointFor'; reverse=!reverse">Points</a></th>
                                            <th><a href="" ng-click="predicate = '-pointAgainst'; reverse=!reverse">Against</a></th>
                                            <th><a href="" ng-click="predicate = '-(pointFor - pointAgainst)'; reverse=!reverse">Diff</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="team in standings | orderBy : predicate : reverse">
                                            <td><img style="width:20px; height:20px;" src="{{team.image}}" />  {{team.name}}</td>
                                            <td>{{team.win}}</td>
                                            <td>{{team.loss}}</td>
                                            <td>{{team.pointFor}}</td>
                                            <td>{{team.pointAgainst}}</td>
                                            <td>{{team.pointFor - team.pointAgainst}}</td>
                                        </tr>
                                    </tbody>
                                </table>-->

                                <!-- Adding divisions back -->
                                <table class="table table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Team</a></th>
                                            <th><a href="" ng-click="predicate = '-win'; reverse=!reverse">Win</a></th>
                                            <th><a href="" ng-click="predicate = '-loss'; reverse=!reverse">Loss</a></th>
                                            <th><a href="" ng-click="predicate = '-pointFor'; reverse=!reverse">Points</a></th>
                                            <th><a href="" ng-click="predicate = '-pointAgainst'; reverse=!reverse">Against</a></th>
                                            <th><a href="" ng-click="predicate = '-(pointFor - pointAgainst)'; reverse=!reverse">Diff</a></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in divisionStandings">
                                        <tr>
                                            <td><strong>{{item.div}} Division</strong></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="team in item.teams | orderBy : predicate : reverse | filter: standingsFilter">
                                            <!--<td></td>-->
                                            <td><img style="width:20px; height:20px;" src="{{team.image}}" />  {{team.name}}</td>
                                            <td>{{team.win}}</td>
                                            <td>{{team.loss}}</td>
                                            <td>{{team.pointFor}}</td>
                                            <td>{{team.pointAgainst}}</td>
                                            <td>{{team.pointFor - team.pointAgainst}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Standings -->
                        <!-- Recent Post -->
                        <div class="panel-box">

                            <div class="titles">
                                <h4>Recent News</h4>
                            </div>

                            <!-- Facebook Feed -->
                            <icfl-facebook></icfl-facebook>

                        </div>
                        <!-- End Recent Post -->
                        <!-- Widget Text-->
                        <!--<div class="panel-box">
                            <div class="titles">
                                <h4>Sponsors</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                </div>
                            </div>
                        </div>-->
                        <!-- End Widget Text-->
                    </div>
                    <!-- End content Left -->
                    <!-- content Sidebar Center -->
                    <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <!-- Locations -->
                        <div class="panel-box" style="height:465px">

                            <div class="titles">
                                <h4>Locations</h4>
                            </div>
                            <!-- Locations Carousel -->
                            <ul class="single-carousel">
                                <li ng-repeat="location in locations">
                                    <img src="{{location.image}}" alt="" class="img-responsive">
                                    <div class="info-single-carousel">
                                        <h4>{{location.title}}</h4>
                                        <p>{{location.address}}</p>
                                        <p>{{location.descr}}</p>
                                    </div>
                                </li>
                            </ul>
                            <!-- Locations Carousel -->
                        </div>
                        <!-- End Locations -->
                        <!-- Video presentation -->
                        <div class="panel-box">
                            <div class="titles">
                                <h4>Presentation</h4>
                            </div>
                            <!-- Locations Video -->
                            <div class="row">
                                <iframe src="//www.youtube.com/embed/FcFj0_4mixs" class="video" allowfullscreen></iframe>
                                <div class="col-md-12">
                                    <h4>2014 ICFL Tribe Highlights</h4>
                                    <p>Congratulations to the Tribe and their wonderful season.  Here is a tribute to their team and their 2014 Championship Season.</p>
                                </div>
                            </div>
                            <!-- End Locations Video -->
                        </div>
                        <!-- End Video presentation-->
                        
                    </aside>
                    <!-- End content Sidebar Center -->
                    <!-- content Sidebar Right -->
                    <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                        <!-- Diary -->
                        <div class="panel-box">
                            <div class="titles">
                                <h4><i class="fa fa-calendar"></i>Games</h4>
                            </div>

                            <!-- Games Carousel -->
                            <ul class="single-carousel">
                                <li ng-repeat="item in schedule | filter:scheduleFilter">
                                    <div class="info-single-carousel">
                                        <!-- List Diary -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 style="text-align:center">{{item.title}}</h4>
                                                <ul class="list-diary">
                                                    <!-- Item List Diary -->
                                                    <li ng-repeat="game in item.games">
                                                        <h5>{{game.location}} <span>{{game.time}}</span></h5>
                                                        <ul class="club-logo">
                                                            <li>
                                                                <img src="{{game.awayImage}}" alt="">
                                                                <h6>{{game.awayName}}</h6>
                                                                <h4>{{game.awayScore}}</h4>
                                                            </li>
                                                            <li id="schedule-center">@</li>
                                                            <li>
                                                                <img src="{{game.homeImage}}" alt="">
                                                                <h6>{{game.homeName}}</h6>
                                                                <h4>{{game.homeScore}}</h4>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <!-- End Item List Diary -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- Games Carousel -->
                        </div>
                        <!-- End Diary -->
                        <!-- Adds Sidebar -->
                        <!--<div class="panel-box">
                            <a href="http://themeforest.net/user/iwthemes/portfolio?ref=iwthemes" target="_blank">
                                <img src="img/adds/sidebar.png" class="img-responsive" alt="">
                            </a>
                        </div>-->
                        <!-- End Adds Sidebar -->
                    </aside>
                    <!-- End content Sidebar Right -->

                </div>
            </div>
            <!-- End Content Central -->
            <!-- Sponsors -->
            <my-sponsors></my-sponsors>

            <!-- Prove It Banner-->
            <prove-it></prove-it>

        </section>
        <!-- End Section Area -  Content Central -->
        <!-- Main JS -->
        <script type="text/javascript" src="js/main.js"></script>

    </div>
