<!-- footer-->
<footer id="footer" class="footer-2">
    <div class="container">

        <!-- Social Icons-->
        <div class="row">
            <ul class="social">
                <li>
                    <div>
                        <a href="https://www.facebook.com/pages/Idaho-Contact-Football-League/114533205256160" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="https://twitter.com/ICFL8MAN" class="twitter-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </li>
                <!--<li>
                    <div>
                        <a href="#" class="vimeo">
                            <i class="fa fa-vimeo-square"></i>
                        </a>
                    </div>
                </li>-->
                <li>
                    <div>
                        <a href="https://plus.google.com/u/0/b/107007745233667088252/107007745233667088252/about" class="google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="https://www.youtube.com/channel/UCO1IJRDO2vfhtahi6FpimSA/feed" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- End Social Icons-->

    </div>
</footer>
<!-- End footer-->
<!-- footer Down-->
<div class="footer-down">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>&copy; 2015 ICFL . All Rights Reserved.  1999 - 2015</p>
            </div>
            <div class="col-md-7">
                <!-- Nav Footer-->
                <ul class="nav-footer">
                    <li><a href="#/">HOME</a> </li>
                    <li><a href="#/schedule">SCHEDULE</a></li>
                    <li><a href="#/teams">TEAMS</a></li>
                    <li><a href="#/about">ABOUT</a></li>
                    <li><a href="#/contact">CONTACT</a></li>
                </ul>
                <!-- End Nav Footer-->
            </div>
        </div>
    </div>
</div>
<!-- footer Down-->

