<div class="section-wide">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>We have earned the trust of <span class="text-resalt">{{sponsors.length}}</span> sponsors.</h2>
                    <p>Thank you for your donation and all of your support</p>
                </div>
                <ul id="sponsors" class="tooltip-hover">
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/mhautoranch.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/aflac.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/angels.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sposor"> <a href="#"><img src="img/sponsors/betterlife.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/bigal.png" alt="Image"></a></li>
                    <!--<li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/bigbun.png" alt="Image"></a></li>-->
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/bluecross.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/bsn.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/bww.png" alt="Image"></a></li
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/fancy.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/gyro.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/horizon.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/iccu.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/isg.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/kanak.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/knockout.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/myriad.png" alt="Image"></a></li>
                    <!--<li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/newko.png" alt="Image"></a></li>-->
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/nutrishop.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/pacific.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/pepsi.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/sawtooth.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/smash.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/stampede.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/stans.png" alt="Image"></a></li>
                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="img/sponsors/tucanos.png" alt="Image"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    //=================================== Carousel Sponsor  ==================================//

    $("#sponsors").owlCarousel({
        autoPlay: 3200,
        items: 6,
        navigation: false,
        itemsDesktop: [1199, 5],
        itemsDesktopSmall: [1024, 4],
        itemsTablet: [768, 3],
        itemsMobile: [500, 2],
        pagination: true
    });
</script>
